In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np

## Load data

In [2]:
# IMPORT RAW DATA
dataframes = []

ls = [2008, 2009, 2010, 2012, 2013, 2014, 2015, 2016]
# ls = [2014]
for year in ls:
# for year in range(2008, 2017):
    filename = f'./data/{year}.csv'
    try: 
        this_data = pd.read_csv(filename, na_values=' ')
    except:
        this_data = pd.read_csv(filename, encoding= 'unicode_escape', na_values=' ')
        # , dtype={'timestop': str}
  
    if year in range(2011, 2017):
        this_data = this_data.drop(columns=['forceuse'])
    if year in range(2013, 2017):
        this_data = this_data.rename(columns={'dettypCM': 'dettypcm', 
                                              'lineCM': 'linecm', 
                                              'detailCM': 'detailcm'})
    # replace " " to NA
#     this_data.replace(" ", pd.NA, inplace=True)
    dataframes.append(this_data)

sqf_data_full = pd.concat(dataframes, ignore_index=True)
sqf_data = sqf_data_full.copy()

In [3]:
sqf_data

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2008,42,1044,1012008,130.0,A,O,NaN,20.0,FEL,...,NaN,42.0,B,NaN,NaN,1009873.0,243953.0,CM,1.0,20.0
1,2008,108,3,1012008,2010.0,A,I,NaN,1.0,BURGLARY,...,NaN,108.0,B,NaN,NaN,1001546.0,210784.0,CM,1.0,14.0
2,2008,100,15,1082008,100.0,A,O,H,2.0,ROBBERY,...,NaN,100.0,B,2.0,NaN,1042944.0,154180.0,CM,1.0,85.0
3,2008,103,210,1082008,1905.0,A,O,NaN,2.0,ROBBERY,...,NaN,103.0,J,16.0,NaN,1050245.0,196802.0,CM,1.0,85.0
4,2008,71,90,1122008,2125.0,A,I,H,5.0,CRIM-TRES,...,NaN,71.0,C,5.0,PP,995112.0,180043.0,CM,1.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,123,88,11262016,1530.0,1,O,P,30.0,FEL,...,NaN,123.0,B,NaN,NaN,915472.0,125013.0,CM,1.0,14.0
2528267,2016,123,89,12022016,1847.0,1,O,P,1.0,FEL,...,NaN,123.0,G,NaN,NaN,935054.0,136263.0,CM,1.0,9.0
2528268,2016,123,90,12022016,255.0,1,O,P,5.0,MISD,...,NaN,123.0,B,NaN,NaN,917943.0,127951.0,CM,1.0,80.0
2528269,2016,123,91,12042016,2225.0,1,O,P,2.0,MISD,...,NaN,123.0,C,NaN,NaN,930949.0,133127.0,CM,1.0,68.0
2528270,2016,123,92,11222016,2212.0,1,O,P,1.0,MISD,...,NaN,123.0,F,NaN,NaN,939042.0,132823.0,CM,1.0,20.0

In [4]:
column_names = ['year', 'pistol', 'riflshot', 'asltweap', 'machgun', 'knifcuti', 'othrweap',
                'pct', 'trhsloc', 
                'ac_assoc', 'ac_cgdir', 'ac_rept', 'ac_evasv', 'ac_incid', 
                'ac_inves', 'ac_proxm', 'ac_time', 'ac_stsnd', 'ac_other',
                'cs_objcs', 'cs_descr', 'cs_casng', 'cs_lkout', 'cs_cloth', 'cs_drgtr', 
                'cs_furtv', 'cs_vcrim', 'cs_bulge', 'cs_other', 'age', 'build', 'sex', 
                'ht_feet', 'ht_inch', 'weight', 'inout', 'radio', 'perobs', 'datestop', 'timestop']

In [5]:
sqf_data = sqf_data[column_names]

In [6]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,build,sex,ht_feet,ht_inch,weight,inout,radio,perobs,datestop,timestop
0,2008,N,N,N,N,N,N,42,NaN,N,...,U,M,6,0,161,O,N,20.0,1012008,130.0
1,2008,N,N,N,N,N,N,108,NaN,N,...,H,M,5,7,190,I,Y,1.0,1012008,2010.0
2,2008,N,N,N,N,N,N,100,H,N,...,M,M,6,0,180,O,N,2.0,1082008,100.0
3,2008,N,N,N,N,N,N,103,NaN,N,...,M,M,6,1,185,O,N,2.0,1082008,1905.0
4,2008,N,N,N,N,N,N,71,H,N,...,T,M,5,9,145,I,N,5.0,1122008,2125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123,P,N,...,M,M,5,7,160,O,Y,30.0,11262016,1530.0
2528267,2016,N,N,N,N,N,N,123,P,N,...,M,M,5,11,210,O,Y,1.0,12022016,1847.0
2528268,2016,N,N,N,N,N,N,123,P,N,...,Z,M,5,8,140,O,N,5.0,12022016,255.0
2528269,2016,N,N,N,N,N,N,123,P,N,...,T,M,5,10,185,O,Y,2.0,12042016,2225.0
2528270,2016,N,N,N,N,N,Y,123,P,N,...,M,M,4,10,160,O,Y,1.0,11222016,2212.0

In [7]:
sqf_data = sqf_data.dropna(subset=['timestop'])

In [8]:
sqf_data['datestop'] = sqf_data['datestop'].apply(lambda x: '{0:0>8}'.format(x))
sqf_data['timestop'] = sqf_data['timestop'].apply(lambda x: '{0:0>4}'.format(x))
# sqf_data = sqf_data[~sqf_data['timestop'].str.startswith('0n')]

sqf_data['month'] = sqf_data['datestop'].str[:2].astype(int)
sqf_data['day'] = sqf_data['datestop'].str[2:4].astype(int)
sqf_data['year'] = sqf_data['year'].astype(int)

sqf_data['time_period'] = sqf_data['timestop'].str[:2].astype(int)

In [9]:
## Handle 2014

coln = ["cs_objcs", "cs_descr", "cs_casng","cs_lkout", "cs_cloth", 
        "cs_drgtr", "cs_furtv", "cs_vcrim", "cs_bulge", "cs_other",
        "ac_rept", "ac_inves", "ac_proxm", "ac_evasv", "ac_assoc", "ac_cgdir",
        "ac_incid", "ac_time", "ac_stsnd", "ac_other", "pistol", "riflshot", "asltweap", 
        "knifcuti", "machgun", "othrweap"]

# replace values for 2014 and convert to 'Y' or 'N'
for i in coln:
    sqf_data.loc[(sqf_data['year'] == 2014) & (sqf_data[i] == 1), i] = 'Y'
    sqf_data.loc[(sqf_data['year'] == 2014) & (sqf_data[i].isna()), i] = 'N'

In [10]:
# 'pistol', 'riflshot', 'asltweap', 'machgun', 'knifcuti', 'othrweap'

def recode_yn(f):
    f_new = f.replace({'N': 0, 'Y': 1})
    f_new = f_new.astype(bool)
    return f_new

sqf_data = sqf_data.assign(found_pistol = recode_yn(sqf_data['pistol']),
                           found_rifle = recode_yn(sqf_data['riflshot']),
                           found_assault = recode_yn(sqf_data['asltweap']),
                           found_machinegun = recode_yn(sqf_data['machgun']),
                           found_knife = recode_yn(sqf_data['knifcuti']),
                           found_other = recode_yn(sqf_data['othrweap']))

sqf_data['found_weapon'] = (sqf_data['found_pistol'] | sqf_data['found_rifle'] |
                            sqf_data['found_assault'] | sqf_data['found_machinegun'] |
                            sqf_data['found_knife'] | sqf_data['found_other'])

In [11]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,month,day,time_period,found_pistol,found_rifle,found_assault,found_machinegun,found_knife,found_other,found_weapon
0,2008,N,N,N,N,N,N,42,NaN,N,...,1,1,13,False,False,False,False,False,False,False
1,2008,N,N,N,N,N,N,108,NaN,N,...,1,1,20,False,False,False,False,False,False,False
2,2008,N,N,N,N,N,N,100,H,N,...,1,8,10,False,False,False,False,False,False,False
3,2008,N,N,N,N,N,N,103,NaN,N,...,1,8,19,False,False,False,False,False,False,False
4,2008,N,N,N,N,N,N,71,H,N,...,1,12,21,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123,P,N,...,11,26,15,False,False,False,False,False,False,False
2528267,2016,N,N,N,N,N,N,123,P,N,...,12,2,18,False,False,False,False,False,False,False
2528268,2016,N,N,N,N,N,N,123,P,N,...,12,2,25,False,False,False,False,False,False,False
2528269,2016,N,N,N,N,N,N,123,P,N,...,12,4,22,False,False,False,False,False,False,False
2528270,2016,N,N,N,N,N,Y,123,P,N,...,11,22,22,False,False,False,False,False,True,True

In [12]:
sqf_data = sqf_data.assign(precinct=pd.factorize(sqf_data['pct'])[0]+1)

In [13]:
# create dictionary for recoding
recode_dict = {'P': 'neither', 'H': 'housing', 'T': 'transit'}

# add new column to sqf_data
sqf_data['location.housing'] = sqf_data_full['trhsloc'].replace(recode_dict).fillna('neither')

In [14]:
sqf_data = sqf_data.assign(additional_associating = recode_yn(sqf_data['ac_assoc']),
                           additional_direction = recode_yn(sqf_data['ac_cgdir']),
                           additional_report = recode_yn(sqf_data['ac_rept']),
                           additional_evasive = recode_yn(sqf_data['ac_evasv']),
                           additional_highcrime = recode_yn(sqf_data['ac_incid']),
                           additional_investigation = recode_yn(sqf_data['ac_inves']),
                           additional_proximity = recode_yn(sqf_data['ac_proxm']),
                           additional_time = recode_yn(sqf_data['ac_time']),
                           additional_sights = recode_yn(sqf_data['ac_stsnd']),
                           additional_other = recode_yn(sqf_data['ac_other']))

In [15]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,additional_associating,additional_direction,additional_report,additional_evasive,additional_highcrime,additional_investigation,additional_proximity,additional_time,additional_sights,additional_other
0,2008,N,N,N,N,N,N,42,NaN,N,...,False,False,False,True,False,False,False,False,False,False
1,2008,N,N,N,N,N,N,108,NaN,N,...,False,False,False,False,False,False,True,False,False,False
2,2008,N,N,N,N,N,N,100,H,N,...,False,False,True,False,False,False,True,True,False,False
3,2008,N,N,N,N,N,N,103,NaN,N,...,False,False,False,True,True,False,False,False,False,False
4,2008,N,N,N,N,N,N,71,H,N,...,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123,P,N,...,False,False,False,False,False,False,False,False,False,False
2528267,2016,N,N,N,N,N,N,123,P,N,...,False,False,False,False,False,False,True,False,False,False
2528268,2016,N,N,N,N,N,N,123,P,N,...,False,False,False,False,False,False,True,False,False,False
2528269,2016,N,N,N,N,N,N,123,P,N,...,False,False,False,False,False,False,False,False,False,False
2528270,2016,N,N,N,N,N,Y,123,P,N,...,False,False,False,False,False,False,False,False,False,False

In [16]:
sqf_data = sqf_data.assign(stopped_bulge = recode_yn(sqf_data['cs_objcs']),
                           stopped_object = recode_yn(sqf_data['cs_descr']),
                           stopped_casing = recode_yn(sqf_data['cs_casng']),
                           stopped_clothing = recode_yn(sqf_data['cs_lkout']),
                           stopped_desc = recode_yn(sqf_data['cs_cloth']),
                           stopped_drugs = recode_yn(sqf_data['cs_drgtr']),
                           stopped_furtive = recode_yn(sqf_data['cs_furtv']),
                           stopped_lookout = recode_yn(sqf_data['cs_vcrim']),
                           stopped_violent = recode_yn(sqf_data['cs_bulge']),
                           stopped_other = recode_yn(sqf_data['cs_other']))

In [17]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,stopped_bulge,stopped_object,stopped_casing,stopped_clothing,stopped_desc,stopped_drugs,stopped_furtive,stopped_lookout,stopped_violent,stopped_other
0,2008,N,N,N,N,N,N,42,NaN,N,...,False,True,False,False,False,False,True,False,False,True
1,2008,N,N,N,N,N,N,108,NaN,N,...,False,False,False,False,False,False,False,False,False,True
2,2008,N,N,N,N,N,N,100,H,N,...,False,True,False,False,False,False,False,False,False,False
3,2008,N,N,N,N,N,N,103,NaN,N,...,False,False,False,True,False,False,True,False,False,False
4,2008,N,N,N,N,N,N,71,H,N,...,False,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123,P,N,...,False,False,False,True,False,False,False,False,False,False
2528267,2016,N,N,N,N,N,N,123,P,N,...,False,True,False,False,False,False,False,False,False,False
2528268,2016,N,N,N,N,N,N,123,P,N,...,False,True,False,False,False,False,False,False,False,False
2528269,2016,N,N,N,N,N,N,123,P,N,...,False,True,False,False,False,False,False,False,False,False
2528270,2016,N,N,N,N,N,Y,123,P,N,...,False,True,False,False,False,False,False,False,False,False

In [18]:
# add new column to sqf_data
# try:
#     sqf_data['age'] = sqf_data['age'].replace('**', -1)
#     sqf_data['suspect_age'] = sqf_data['age'].fillna(-1).astype(int).replace('-1', pd.NA)
# except:
#     sqf_data['suspect_age'] = sqf_data['age'].fillna(-1).astype(int).replace('-1', pd.NA)
sqf_data = sqf_data.drop(sqf_data[sqf_data['age'] == '**'].index)
sqf_data = sqf_data.dropna(subset=['age'])
sqf_data['suspect_age'] = sqf_data['age'].astype(int)
sqf_data = sqf_data.dropna(subset=['suspect_age'])

# replace suspect.age > 100 with NA
sqf_data.loc[sqf_data['suspect_age'] > 100, 'suspect_age'] = pd.NA

In [19]:
# create dictionary for recoding
recode_dict = {'H': 'heavy', 'M': 'medium', 'T': 'thin', 'U': 'muscular', 'Z': 'unknown'}

# add new column to sqf_data
sqf_data['suspect.build'] = sqf_data['build'].replace(recode_dict)

In [20]:
# create dictionary for recoding
recode_dict = {'M': 'male', 'F': 'female'}

# add new column to sqf_data
sqf_data['suspect.sex'] = sqf_data['sex'].replace(recode_dict)

In [21]:
sqf_data['suspect_height'] = sqf_data['ht_feet'] + (sqf_data['ht_inch'] / 12)

In [22]:
# add new column to sqf_data
sqf_data['suspect_weight'] = sqf_data['weight']

In [23]:
def recode_io(f):
    f_new = f.replace({'O': 0, 'I': 1})
    f_new = f_new.astype(bool)
    return f_new

sqf_data['inside'] = recode_io(sqf_data['inout'])
sqf_data['observation_period'] = sqf_data['perobs']

In [24]:
sqf_data = sqf_data.assign(radio_run = recode_yn(sqf_data['radio']))

In [25]:
sqf_data = sqf_data.drop(columns=column_names)

In [26]:
tmp_col_names = ['found_pistol', 'found_rifle', 'found_assault', 
                 'found_machinegun', 'found_knife', 'found_other']

In [27]:
sqf_data = sqf_data.drop(columns=tmp_col_names)

In [28]:
sqf_data

,month,day,time_period,found_weapon,precinct,location.housing,additional_associating,additional_direction,additional_report,additional_evasive,...,stopped_violent,stopped_other,suspect_age,suspect.build,suspect.sex,suspect_height,suspect_weight,inside,observation_period,radio_run
0,1,1,13,False,1,neither,False,False,False,True,...,False,True,20.0,muscular,male,6.000000,161,False,20.0,False
1,1,1,20,False,2,neither,False,False,False,False,...,False,True,25.0,heavy,male,5.583333,190,True,1.0,True
2,1,8,10,False,3,housing,False,False,True,False,...,False,False,18.0,medium,male,6.000000,180,False,2.0,False
3,1,8,19,False,4,neither,False,False,False,True,...,False,False,23.0,medium,male,6.083333,185,False,2.0,False
4,1,12,21,False,5,housing,False,False,False,False,...,False,True,14.0,thin,male,5.750000,145,True,5.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,11,26,15,False,56,neither,False,False,False,False,...,False,False,19.0,medium,male,5.583333,160,False,30.0,True
2528267,12,2,18,False,56,neither,False,False,False,False,...,False,False,38.0,medium,male,5.916667,210,False,1.0,True
2528268,12,2,25,False,56,neither,False,False,False,False,...,False,False,22.0,unknown,male,5.666667,140,False,5.0,False
2528269,12,4,22,False,56,neither,False,False,False,False,...,False,False,25.0,thin,male,5.833333,185,False,2.0,True
2528270,11,22,22,True,56,neither,False,False,False,False,...,False,False,27.0,medium,male,4.833333,160,False,1.0,True

In [29]:
sqf_data.isna().any()

month                       False
day                         False
time_period                 False
found_weapon                False
precinct                    False
location.housing            False
additional_associating      False
additional_direction        False
additional_report           False
additional_evasive          False
additional_highcrime        False
additional_investigation    False
additional_proximity        False
additional_time             False
additional_sights           False
additional_other            False
stopped_bulge               False
stopped_object              False
stopped_casing              False
stopped_clothing            False
stopped_desc                False
stopped_drugs               False
stopped_furtive             False
stopped_lookout             False
stopped_violent             False
stopped_other               False
suspect_age                  True
suspect.build               False
suspect.sex                 False
suspect_height              False
suspect_weight              False
inside                      False
observation_period          False
radio_run                   False
dtype: bool