In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import seaborn as sns

## Load data

In [2]:
# IMPORT RAW DATA
dataframes = []

ls = [2008, 2009, 2010, 2012, 2013, 2014, 2015, 2016]
# ls = [2014]
for year in ls:
# for year in range(2008, 2017):
    filename = f'/Users/Mr.Lucas/Desktop/Advanced-Python-Final-Project/data/{year}.csv'
    try: 
        this_data = pd.read_csv(filename, na_values=' ')
    except:
        this_data = pd.read_csv(filename, encoding= 'unicode_escape', na_values=' ')
        # , dtype={'timestop': str}
  
    if year in range(2011, 2017):
        this_data = this_data.drop(columns=['forceuse'])
    if year in range(2013, 2017):
        this_data = this_data.rename(columns={'dettypCM': 'dettypcm', 
                                              'lineCM': 'linecm', 
                                              'detailCM': 'detailcm'})
    # replace " " to NA
#     this_data.replace(" ", pd.NA, inplace=True)
    dataframes.append(this_data)

sqf_data_full = pd.concat(dataframes, ignore_index=True)
sqf_data = sqf_data_full.copy()

In [3]:
sqf_data

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2008.0,42.0,1044.0,1012008.0,130.0,A,O,NaN,20.0,FEL,...,NaN,42.0,B,NaN,NaN,1009873.0,243953.0,CM,1.0,20.0
1,2008.0,108.0,3.0,1012008.0,2010.0,A,I,NaN,1.0,BURGLARY,...,NaN,108.0,B,NaN,NaN,1001546.0,210784.0,CM,1.0,14.0
2,2008.0,100.0,15.0,1082008.0,100.0,A,O,H,2.0,ROBBERY,...,NaN,100.0,B,2.0,NaN,1042944.0,154180.0,CM,1.0,85.0
3,2008.0,103.0,210.0,1082008.0,1905.0,A,O,NaN,2.0,ROBBERY,...,NaN,103.0,J,16.0,NaN,1050245.0,196802.0,CM,1.0,85.0
4,2008.0,71.0,90.0,1122008.0,2125.0,A,I,H,5.0,CRIM-TRES,...,NaN,71.0,C,5.0,PP,995112.0,180043.0,CM,1.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528267,2016.0,123.0,89.0,12022016.0,1847.0,1,O,P,1.0,FEL,...,NaN,123.0,G,NaN,NaN,935054.0,136263.0,CM,1.0,9.0
2528268,2016.0,123.0,90.0,12022016.0,255.0,1,O,P,5.0,MISD,...,NaN,123.0,B,NaN,NaN,917943.0,127951.0,CM,1.0,80.0
2528269,2016.0,123.0,91.0,12042016.0,2225.0,1,O,P,2.0,MISD,...,NaN,123.0,C,NaN,NaN,930949.0,133127.0,CM,1.0,68.0
2528270,2016.0,123.0,92.0,11222016.0,2212.0,1,O,P,1.0,MISD,...,NaN,123.0,F,NaN,NaN,939042.0,132823.0,CM,1.0,20.0
2528271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
column_names = ['year', 'pistol', 'riflshot', 'asltweap', 'machgun', 'knifcuti', 'othrweap',
                'pct', 'trhsloc', 
                'ac_assoc', 'ac_cgdir', 'ac_rept', 'ac_evasv', 'ac_incid', 
                'ac_inves', 'ac_proxm', 'ac_time', 'ac_stsnd', 'ac_other',
                'cs_objcs', 'cs_descr', 'cs_casng', 'cs_lkout', 'cs_cloth', 'cs_drgtr', 
                'cs_furtv', 'cs_vcrim', 'cs_bulge', 'cs_other', 'age', 'build', 'sex', 
                'ht_feet', 'ht_inch', 'weight', 'inout', 'radio', 'perobs', 'datestop', 'timestop']

In [5]:
sqf_data = sqf_data[column_names]

In [6]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,build,sex,ht_feet,ht_inch,weight,inout,radio,perobs,datestop,timestop
0,2008.0,N,N,N,N,N,N,42.0,NaN,N,...,U,M,6.0,0.0,161.0,O,N,20.0,1012008.0,130.0
1,2008.0,N,N,N,N,N,N,108.0,NaN,N,...,H,M,5.0,7.0,190.0,I,Y,1.0,1012008.0,2010.0
2,2008.0,N,N,N,N,N,N,100.0,H,N,...,M,M,6.0,0.0,180.0,O,N,2.0,1082008.0,100.0
3,2008.0,N,N,N,N,N,N,103.0,NaN,N,...,M,M,6.0,1.0,185.0,O,N,2.0,1082008.0,1905.0
4,2008.0,N,N,N,N,N,N,71.0,H,N,...,T,M,5.0,9.0,145.0,I,N,5.0,1122008.0,2125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528267,2016.0,N,N,N,N,N,N,123.0,P,N,...,M,M,5.0,11.0,210.0,O,Y,1.0,12022016.0,1847.0
2528268,2016.0,N,N,N,N,N,N,123.0,P,N,...,Z,M,5.0,8.0,140.0,O,N,5.0,12022016.0,255.0
2528269,2016.0,N,N,N,N,N,N,123.0,P,N,...,T,M,5.0,10.0,185.0,O,Y,2.0,12042016.0,2225.0
2528270,2016.0,N,N,N,N,N,Y,123.0,P,N,...,M,M,4.0,10.0,160.0,O,Y,1.0,11222016.0,2212.0
2528271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sqf_data = sqf_data.dropna(subset=['timestop'])

In [8]:
sqf_data['datestop'] = sqf_data['datestop'].apply(lambda x: '{0:0>8}'.format(x))
sqf_data['timestop'] = sqf_data['timestop'].apply(lambda x: '{0:0>4}'.format(x))
# sqf_data = sqf_data[~sqf_data['timestop'].str.startswith('0n')]

sqf_data['month'] = sqf_data['datestop'].str[:2].astype(int)
sqf_data['day'] = sqf_data['datestop'].str[2:4].astype(int)
sqf_data['year'] = sqf_data['year'].astype(int)

sqf_data['time_period'] = sqf_data['timestop'].str[:2].astype(int)

In [9]:
## Handle 2014

coln = ["cs_objcs", "cs_descr", "cs_casng","cs_lkout", "cs_cloth", 
        "cs_drgtr", "cs_furtv", "cs_vcrim", "cs_bulge", "cs_other",
        "ac_rept", "ac_inves", "ac_proxm", "ac_evasv", "ac_assoc", "ac_cgdir",
        "ac_incid", "ac_time", "ac_stsnd", "ac_other", "pistol", "riflshot", "asltweap", 
        "knifcuti", "machgun", "othrweap"]

# replace values for 2014 and convert to 'Y' or 'N'
for i in coln:
    sqf_data.loc[(sqf_data['year'] == 2014) & (sqf_data[i] == 1), i] = 'Y'
    sqf_data.loc[(sqf_data['year'] == 2014) & (sqf_data[i].isna()), i] = 'N'

In [10]:
# 'pistol', 'riflshot', 'asltweap', 'machgun', 'knifcuti', 'othrweap'

def recode_yn(f):
    f_new = f.replace({'N': 0, 'Y': 1})
    f_new = f_new.astype(bool)
    return f_new

sqf_data = sqf_data.assign(found_pistol = recode_yn(sqf_data['pistol']),
                           found_rifle = recode_yn(sqf_data['riflshot']),
                           found_assault = recode_yn(sqf_data['asltweap']),
                           found_machinegun = recode_yn(sqf_data['machgun']),
                           found_knife = recode_yn(sqf_data['knifcuti']),
                           found_other = recode_yn(sqf_data['othrweap']))

sqf_data['found_weapon'] = (sqf_data['found_pistol'] | sqf_data['found_rifle'] |
                            sqf_data['found_assault'] | sqf_data['found_machinegun'] |
                            sqf_data['found_knife'] | sqf_data['found_other'])

In [11]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,month,day,time_period,found_pistol,found_rifle,found_assault,found_machinegun,found_knife,found_other,found_weapon
0,2008,N,N,N,N,N,N,42.0,NaN,N,...,10,12,13,False,False,False,False,False,False,False
1,2008,N,N,N,N,N,N,108.0,NaN,N,...,10,12,20,False,False,False,False,False,False,False
2,2008,N,N,N,N,N,N,100.0,H,N,...,10,82,10,False,False,False,False,False,False,False
3,2008,N,N,N,N,N,N,103.0,NaN,N,...,10,82,19,False,False,False,False,False,False,False
4,2008,N,N,N,N,N,N,71.0,H,N,...,11,22,21,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123.0,P,N,...,11,26,15,False,False,False,False,False,False,False
2528267,2016,N,N,N,N,N,N,123.0,P,N,...,12,2,18,False,False,False,False,False,False,False
2528268,2016,N,N,N,N,N,N,123.0,P,N,...,12,2,25,False,False,False,False,False,False,False
2528269,2016,N,N,N,N,N,N,123.0,P,N,...,12,4,22,False,False,False,False,False,False,False
2528270,2016,N,N,N,N,N,Y,123.0,P,N,...,11,22,22,False,False,False,False,False,True,True

In [12]:
sqf_data = sqf_data.assign(precinct=pd.factorize(sqf_data['pct'])[0]+1)

In [13]:
# create dictionary for recoding
recode_dict = {'P': 'neither', 'H': 'housing', 'T': 'transit'}

# add new column to sqf_data
sqf_data['location.housing'] = sqf_data_full['trhsloc'].replace(recode_dict).fillna('neither')

In [14]:
sqf_data = sqf_data.assign(additional_associating = recode_yn(sqf_data['ac_assoc']),
                           additional_direction = recode_yn(sqf_data['ac_cgdir']),
                           additional_report = recode_yn(sqf_data['ac_rept']),
                           additional_evasive = recode_yn(sqf_data['ac_evasv']),
                           additional_highcrime = recode_yn(sqf_data['ac_incid']),
                           additional_investigation = recode_yn(sqf_data['ac_inves']),
                           additional_proximity = recode_yn(sqf_data['ac_proxm']),
                           additional_time = recode_yn(sqf_data['ac_time']),
                           additional_sights = recode_yn(sqf_data['ac_stsnd']),
                           additional_other = recode_yn(sqf_data['ac_other']))

In [15]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,additional_associating,additional_direction,additional_report,additional_evasive,additional_highcrime,additional_investigation,additional_proximity,additional_time,additional_sights,additional_other
0,2008,N,N,N,N,N,N,42.0,NaN,N,...,False,False,False,True,False,False,False,False,False,False
1,2008,N,N,N,N,N,N,108.0,NaN,N,...,False,False,False,False,False,False,True,False,False,False
2,2008,N,N,N,N,N,N,100.0,H,N,...,False,False,True,False,False,False,True,True,False,False
3,2008,N,N,N,N,N,N,103.0,NaN,N,...,False,False,False,True,True,False,False,False,False,False
4,2008,N,N,N,N,N,N,71.0,H,N,...,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123.0,P,N,...,False,False,False,False,False,False,False,False,False,False
2528267,2016,N,N,N,N,N,N,123.0,P,N,...,False,False,False,False,False,False,True,False,False,False
2528268,2016,N,N,N,N,N,N,123.0,P,N,...,False,False,False,False,False,False,True,False,False,False
2528269,2016,N,N,N,N,N,N,123.0,P,N,...,False,False,False,False,False,False,False,False,False,False
2528270,2016,N,N,N,N,N,Y,123.0,P,N,...,False,False,False,False,False,False,False,False,False,False

In [16]:
sqf_data = sqf_data.assign(stopped_bulge = recode_yn(sqf_data['cs_objcs']),
                           stopped_object = recode_yn(sqf_data['cs_descr']),
                           stopped_casing = recode_yn(sqf_data['cs_casng']),
                           stopped_clothing = recode_yn(sqf_data['cs_lkout']),
                           stopped_desc = recode_yn(sqf_data['cs_cloth']),
                           stopped_drugs = recode_yn(sqf_data['cs_drgtr']),
                           stopped_furtive = recode_yn(sqf_data['cs_furtv']),
                           stopped_lookout = recode_yn(sqf_data['cs_vcrim']),
                           stopped_violent = recode_yn(sqf_data['cs_bulge']),
                           stopped_other = recode_yn(sqf_data['cs_other']))

In [17]:
sqf_data

,year,pistol,riflshot,asltweap,machgun,knifcuti,othrweap,pct,trhsloc,ac_assoc,...,stopped_bulge,stopped_object,stopped_casing,stopped_clothing,stopped_desc,stopped_drugs,stopped_furtive,stopped_lookout,stopped_violent,stopped_other
0,2008,N,N,N,N,N,N,42.0,NaN,N,...,False,True,False,False,False,False,True,False,False,True
1,2008,N,N,N,N,N,N,108.0,NaN,N,...,False,False,False,False,False,False,False,False,False,True
2,2008,N,N,N,N,N,N,100.0,H,N,...,False,True,False,False,False,False,False,False,False,False
3,2008,N,N,N,N,N,N,103.0,NaN,N,...,False,False,False,True,False,False,True,False,False,False
4,2008,N,N,N,N,N,N,71.0,H,N,...,False,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,N,N,N,N,N,N,123.0,P,N,...,False,False,False,True,False,False,False,False,False,False
2528267,2016,N,N,N,N,N,N,123.0,P,N,...,False,True,False,False,False,False,False,False,False,False
2528268,2016,N,N,N,N,N,N,123.0,P,N,...,False,True,False,False,False,False,False,False,False,False
2528269,2016,N,N,N,N,N,N,123.0,P,N,...,False,True,False,False,False,False,False,False,False,False
2528270,2016,N,N,N,N,N,Y,123.0,P,N,...,False,True,False,False,False,False,False,False,False,False

In [18]:
# add new column to sqf_data
# try:
#     sqf_data['age'] = sqf_data['age'].replace('**', -1)
#     sqf_data['suspect_age'] = sqf_data['age'].fillna(-1).astype(int).replace('-1', pd.NA)
# except:
#     sqf_data['suspect_age'] = sqf_data['age'].fillna(-1).astype(int).replace('-1', pd.NA)
sqf_data = sqf_data.drop(sqf_data[sqf_data['age'] == '**'].index)
sqf_data = sqf_data.dropna(subset=['age'])
sqf_data['suspect_age'] = sqf_data['age'].astype(int)
sqf_data = sqf_data.dropna(subset=['suspect_age'])

# only select suspect with age <= 100
sqf_data = sqf_data[sqf_data.suspect_date >= 5 & sqf_data.suspect_age <= 100]

In [19]:
# create dictionary for recoding
recode_dict = {'H': 'heavy', 'M': 'medium', 'T': 'thin', 'U': 'muscular', 'Z': 'unknown'}

# add new column to sqf_data
sqf_data['suspect.build'] = sqf_data['build'].replace(recode_dict)

In [20]:
# create dictionary for recoding
recode_dict = {'M': 'male', 'F': 'female'}

# add new column to sqf_data
sqf_data['suspect.sex'] = sqf_data['sex'].replace(recode_dict)

In [21]:
sqf_data['suspect_height'] = sqf_data['ht_feet'] + (sqf_data['ht_inch'] / 12)

In [22]:
# add new column to sqf_data
sqf_data['suspect_weight'] = sqf_data['weight']

In [23]:
def recode_io(f):
    f_new = f.replace({'O': 0, 'I': 1})
    f_new = f_new.astype(bool)
    return f_new

sqf_data['inside'] = recode_io(sqf_data['inout'])
sqf_data['observation_period'] = sqf_data['perobs']

In [24]:
sqf_data = sqf_data.assign(radio_run = recode_yn(sqf_data['radio']))

In [25]:
column_names = ['pistol', 'riflshot', 'asltweap', 'machgun', 'knifcuti', 'othrweap',
                'pct', 'trhsloc', 
                'ac_assoc', 'ac_cgdir', 'ac_rept', 'ac_evasv', 'ac_incid', 
                'ac_inves', 'ac_proxm', 'ac_time', 'ac_stsnd', 'ac_other',
                'cs_objcs', 'cs_descr', 'cs_casng', 'cs_lkout', 'cs_cloth', 'cs_drgtr', 
                'cs_furtv', 'cs_vcrim', 'cs_bulge', 'cs_other', 'age', 'build', 'sex', 
                'ht_feet', 'ht_inch', 'weight', 'inout', 'radio', 'perobs', 'datestop', 'timestop']

In [26]:
sqf_data = sqf_data.drop(columns=column_names)

In [27]:
tmp_col_names = ['found_pistol', 'found_rifle', 'found_assault', 
                 'found_machinegun', 'found_knife', 'found_other']

In [28]:
sqf_data = sqf_data.drop(columns=tmp_col_names)

In [29]:
sqf_data

,year,month,day,time_period,found_weapon,precinct,location.housing,additional_associating,additional_direction,additional_report,...,stopped_violent,stopped_other,suspect_age,suspect.build,suspect.sex,suspect_height,suspect_weight,inside,observation_period,radio_run
0,2008,10,12,13,False,1,neither,False,False,False,...,False,True,20,muscular,male,6.000000,161.0,False,20.0,False
1,2008,10,12,20,False,2,neither,False,False,False,...,False,True,25,heavy,male,5.583333,190.0,True,1.0,True
2,2008,10,82,10,False,3,housing,False,False,True,...,False,False,18,medium,male,6.000000,180.0,False,2.0,False
3,2008,10,82,19,False,4,neither,False,False,False,...,False,False,23,medium,male,6.083333,185.0,False,2.0,False
4,2008,11,22,21,False,5,housing,False,False,False,...,False,True,14,thin,male,5.750000,145.0,True,5.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528266,2016,11,26,15,False,56,neither,False,False,False,...,False,False,19,medium,male,5.583333,160.0,False,30.0,True
2528267,2016,12,2,18,False,56,neither,False,False,False,...,False,False,38,medium,male,5.916667,210.0,False,1.0,True
2528268,2016,12,2,25,False,56,neither,False,False,False,...,False,False,22,unknown,male,5.666667,140.0,False,5.0,False
2528269,2016,12,4,22,False,56,neither,False,False,False,...,False,False,25,thin,male,5.833333,185.0,False,2.0,True
2528270,2016,11,22,22,True,56,neither,False,False,False,...,False,False,27,medium,male,4.833333,160.0,False,1.0,True

In [30]:
sqf_data.head()

,year,month,day,time_period,found_weapon,precinct,location.housing,additional_associating,additional_direction,additional_report,...,stopped_violent,stopped_other,suspect_age,suspect.build,suspect.sex,suspect_height,suspect_weight,inside,observation_period,radio_run
0,2008,10,12,13,False,1,neither,False,False,False,...,False,True,20,muscular,male,6.000000,161.0,False,20.0,False
1,2008,10,12,20,False,2,neither,False,False,False,...,False,True,25,heavy,male,5.583333,190.0,True,1.0,True
2,2008,10,82,10,False,3,housing,False,False,True,...,False,False,18,medium,male,6.000000,180.0,False,2.0,False
3,2008,10,82,19,False,4,neither,False,False,False,...,False,False,23,medium,male,6.083333,185.0,False,2.0,False
4,2008,11,22,21,False,5,housing,False,False,False,...,False,True,14,thin,male,5.750000,145.0,True,5.0,False

In [33]:
sqf_data.describe()

,year,month,day,time_period,precinct,suspect_age,suspect_height,suspect_weight,observation_period
count,2.523685e+06,2.523685e+06,2.523685e+06,2.523685e+06,2.523685e+06,2.523685e+06,2.523685e+06,2.523685e+06,2.523685e+06
mean,2.010138e+03,3.937423e+01,4.001363e+01,2.181319e+01,3.637940e+01,2.816040e+01,5.718236e+00,1.696803e+02,2.544241e+00
std,1.811228e+00,2.717346e+01,2.888468e+01,1.475630e+01,2.162319e+01,1.186294e+01,2.696329e-01,3.790642e+01,5.838983e+00
min,2.008000e+03,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00
25%,2.009000e+03,1.200000e+01,1.200000e+01,1.400000e+01,1.800000e+01,1.900000e+01,5.583333e+00,1.500000e+02,1.000000e+00
50%,2.010000e+03,3.200000e+01,3.200000e+01,1.900000e+01,3.500000e+01,2.400000e+01,5.750000e+00,1.700000e+02,1.000000e+00
75%,2.012000e+03,6.100000e+01,6.200000e+01,2.200000e+01,5.500000e+01,3.400000e+01,5.916667e+00,1.800000e+02,2.000000e+00
max,2.016000e+03,9.300000e+01,9.200000e+01,9.500000e+01,7.700000e+01,1.000000e+02,7.916667e+00,1.710000e+03,9.990000e+02

In [34]:
sqf_data.nunique()

year                          8
month                        35
day                          38
time_period                  84
found_weapon                  2
precinct                     77
location.housing              3
additional_associating        2
additional_direction          2
additional_report             2
additional_evasive            2
additional_highcrime          2
additional_investigation      2
additional_proximity          2
additional_time               2
additional_sights             2
additional_other              2
stopped_bulge                 2
stopped_object                2
stopped_casing                2
stopped_clothing              2
stopped_desc                  2
stopped_drugs                 2
stopped_furtive               2
stopped_lookout               2
stopped_violent               2
stopped_other                 2
suspect_age                 101
suspect.build                 5
suspect.sex                   3
suspect_height               60
suspect_weight              480
inside                        2
observation_period          265
radio_run                     2
dtype: int64

In [35]:
sqf_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2523685 entries, 0 to 2528270
Data columns (total 35 columns):
 #   Column                    Dtype
---  ------                    -----
 0   year                      int64
 1   month                     int64
 2   day                       int64
 3   time_period               int64
 4   found_weapon              bool
 5   precinct                  int64
 6   location.housing          object
 7   additional_associating    bool
 8   additional_direction      bool
 9   additional_report         bool
 10  additional_evasive        bool
 11  additional_highcrime      bool
 12  additional_investigation  bool
 13  additional_proximity      bool
 14  additional_time           bool
 15  additional_sights         bool
 16  additional_other          bool
 17  stopped_bulge             bool
 18  stopped_object            bool
 19  stopped_casing            bool
 20  stopped_clothing          bool
 21  stopped_desc              bool
 22  stopped_drugs             bool
 23  stopped_furtive           bool
 24  stopped_lookout           bool
 25  stopped_violent           bool
 26  stopped_other             bool
 27  suspect_age               int64
 28  suspect.build             object
 29  suspect.sex               object
 30  suspect_height            float64
 31  suspect_weight            float64
 32  inside                    bool
 33  observation_period        float64
 34  radio_run                 bool
dtypes: bool(23), float64(3), int64(6), object(3)
memory usage: 305.7+ MB

In [40]:
bool_cols = sqf_data.select_dtypes(bool).columns.tolist()
sqf_data[bool_cols] = sqf_data[bool_cols].astype(int)
sqf_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2523685 entries, 0 to 2528270
Data columns (total 35 columns):
 #   Column                    Dtype
---  ------                    -----
 0   year                      int64
 1   month                     int64
 2   day                       int64
 3   time_period               int64
 4   found_weapon              int64
 5   precinct                  int64
 6   location.housing          object
 7   additional_associating    int64
 8   additional_direction      int64
 9   additional_report         int64
 10  additional_evasive        int64
 11  additional_highcrime      int64
 12  additional_investigation  int64
 13  additional_proximity      int64
 14  additional_time           int64
 15  additional_sights         int64
 16  additional_other          int64
 17  stopped_bulge             int64
 18  stopped_object            int64
 19  stopped_casing            int64
 20  stopped_clothing          int64
 21  stopped_desc              int64
 22  stopped_drugs             int64
 23  stopped_furtive           int64
 24  stopped_lookout           int64
 25  stopped_violent           int64
 26  stopped_other             int64
 27  suspect_age               int64
 28  suspect.build             object
 29  suspect.sex               object
 30  suspect_height            float64
 31  suspect_weight            float64
 32  inside                    int64
 33  observation_period        float64
 34  radio_run                 int64
dtypes: float64(3), int64(29), object(3)
memory usage: 693.2+ MB

In [45]:
sqf_data.nunique()

year                          8
month                        35
day                          38
time_period                  84
found_weapon                  2
precinct                     77
location.housing              3
additional_associating        2
additional_direction          2
additional_report             2
additional_evasive            2
additional_highcrime          2
additional_investigation      2
additional_proximity          2
additional_time               2
additional_sights             2
additional_other              2
stopped_bulge                 2
stopped_object                2
stopped_casing                2
stopped_clothing              2
stopped_desc                  2
stopped_drugs                 2
stopped_furtive               2
stopped_lookout               2
stopped_violent               2
stopped_other                 2
suspect_age                 101
suspect.build                 5
suspect.sex                   3
suspect_height               60
suspect_weight              480
inside                        2
observation_period          265
radio_run                     2
dtype: int64

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Define predictor variables and target variable
X = sqf_data.drop(columns=['found_weapon', 'year'])
y = sqf_data['found_weapon']

# Define numeric and categorical features
numeric_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(include=['object', 'bool']).columns

# Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_cols),
        ('cat', OneHotEncoder(drop='first'), categorical_cols)])

# Create a pipeline with the preprocessor and logistic regression estimator
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(max_iter=1000))
])

# Split the dataset into training and test seta
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the pipeline to the training data
pipeline.fit(X_train, y_train)

# Get the logistic regression model from the pipeline
logistic_reg = pipeline.named_steps['classifier']

# Get the feature names after one-hot encoding
feature_names = numeric_cols.tolist()
for col, cats in zip(categorical_cols, preprocessor.named_transformers_['cat'].categories_):
    feature_names.extend([f'{col}_{cat}' for cat in cats[1:]])  # [1:] is due to drop='first'

# Create a dataframe of coefficients
coef_df = pd.DataFrame(logistic_reg.coef_[0], index=feature_names, columns=['Coefficient'])
print(coef_df)

                          Coefficient
month                        0.052806
day                         -0.012075
time_period                 -0.040704
precinct                    -0.063694
additional_associating       0.031212
additional_direction        -0.021277
additional_report            0.130409
additional_evasive           0.045613
additional_highcrime        -0.092858
additional_investigation     0.067267
additional_proximity         0.026138
additional_time              0.026098
additional_sights            0.050568
additional_other             0.081652
stopped_bulge                0.368683
stopped_object              -0.022133
stopped_casing              -0.469724
stopped_clothing            -0.213650
stopped_desc                -0.056056
stopped_drugs               -0.137998
stopped_furtive             -0.038990
stopped_lookout              0.085720
stopped_violent              0.469558
stopped_other                0.136518
suspect_age                 -0.051014
suspect_height               0.033782
suspect_weight               0.045301
inside                      -0.074137
observation_period          -0.191447
radio_run                   -0.089356
location.housing_neither     0.654034
location.housing_transit     2.250914
suspect.build_medium        -0.215659
suspect.build_muscular       0.394361
suspect.build_thin          -0.113674
suspect.build_unknown       -0.348721
suspect.sex_female           0.205315
suspect.sex_male             0.671728

In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

# Define predictor variables and target variable
X = sqf_data.drop(columns=['found_weapon', 'year'])
y = sqf_data['found_weapon']

# Define numeric and categorical features
numeric_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(include=['object', 'bool']).columns

# Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_cols),
        ('cat', OneHotEncoder(drop='first'), categorical_cols)])

# Create a pipeline with the preprocessor and logistic regression estimator
logreg_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(max_iter=1000))
])

# Create a pipeline with the preprocessor and random forest estimator
rf_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier())
])

# Create a pipeline with the preprocessor and XGBoost estimator
xgb_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', xgb.XGBClassifier())
])

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the logistic regression pipeline to the training data
logreg_pipeline.fit(X_train, y_train)

# Get the logistic regression model from the pipeline
logistic_reg = logreg_pipeline.named_steps['classifier']

# Get the feature names after one-hot encoding
feature_names = numeric_cols.tolist()
for col, cats in zip(categorical_cols, preprocessor.named_transformers_['cat'].categories_):
    feature_names.extend([f'{col}_{cat}' for cat in cats[1:]])  # [1:] is due to drop='first'

# Create a dataframe of logistic regression coefficients
logreg_coef_df = pd.DataFrame(logistic_reg.coef_[0], index=feature_names, columns=['Coefficient'])
print('Logistic Regression Coefficients:\n', logreg_coef_df)

# Fit the random forest pipeline to the training data
rf_pipeline.fit(X_train, y_train)

# Get the random forest model from the pipeline
random_forest = rf_pipeline.named_steps['classifier']

# Get feature importances from the random forest model
rf_feature_importances = pd.DataFrame(random_forest.feature_importances_, index=feature_names, columns=['Importance'])
print('Random Forest Feature Importances:\n', rf_feature_importances)

# Fit the XGBoost pipeline to the training data
xgb_pipeline.fit(X_train, y_train)

# Get the XGBoost model from the pipeline
xgb_model = xgb_pipeline.named_steps['classifier']

# Get feature importances from the XGBoost model
xgb_feature_importances = pd.DataFrame(xgb_model.feature_importances_, index=feature_names, columns=['Importance'])
print('XGBoost Feature Importances:\n', xgb_feature_importances)

# Generate predictions using each model and calculate accuracy
logreg_pred = logreg_pipeline.predict(X_test)
logreg_acc = accuracy_score(y_test, logreg_pred)
print('Logistic Regression Accuracy:', logreg_acc)

rf_pred = rf_pipeline.predict(X_test)
rf_acc = accuracy_score(y_test, rf_pred)
print('RFM Accuracy:', rf_acc)

xgb_pred = xgb_pipeline.predict(X_test)
xgb_acc = accuracy_score(y_test, xgb_pred)
print('Xgboost Accuracy:', rf_acc)

Logistic Regression Coefficients:
                           Coefficient
month                        0.052806
day                         -0.012075
time_period                 -0.040704
precinct                    -0.063694
additional_associating       0.031212
additional_direction        -0.021277
additional_report            0.130409
additional_evasive           0.045613
additional_highcrime        -0.092858
additional_investigation     0.067267
additional_proximity         0.026138
additional_time              0.026098
additional_sights            0.050568
additional_other             0.081652
stopped_bulge                0.368683
stopped_object              -0.022133
stopped_casing              -0.469724
stopped_clothing            -0.213650
stopped_desc                -0.056056
stopped_drugs               -0.137998
stopped_furtive             -0.038990
stopped_lookout              0.085720
stopped_violent              0.469558
stopped_other                0.136518
suspect_age                 -0.051014
suspect_height               0.033782
suspect_weight               0.045301
inside                      -0.074137
observation_period          -0.191447
radio_run                   -0.089356
location.housing_neither     0.654034
location.housing_transit     2.250914
suspect.build_medium        -0.215659
suspect.build_muscular       0.394361
suspect.build_thin          -0.113674
suspect.build_unknown       -0.348721
suspect.sex_female           0.205315
suspect.sex_male             0.671728
Random Forest Feature Importances:
                           Importance
month                       0.093497
day                         0.086757
time_period                 0.095619
precinct                    0.108432
additional_associating      0.005596
additional_direction        0.014650
additional_report           0.007239
additional_evasive          0.011873
additional_highcrime        0.014142
additional_investigation    0.010944
additional_proximity        0.014129
additional_time             0.016515
additional_sights           0.004503
additional_other            0.005423
stopped_bulge               0.024767
stopped_object              0.008501
stopped_casing              0.008098
stopped_clothing            0.003972
stopped_desc                0.005256
stopped_drugs               0.003111
stopped_furtive             0.013026
stopped_lookout             0.008616
stopped_violent             0.024079
stopped_other               0.009427
suspect_age                 0.106261
suspect_height              0.081242
suspect_weight              0.091038
inside                      0.009983
observation_period          0.038913
radio_run                   0.011073
location.housing_neither    0.007580
location.housing_transit    0.018577
suspect.build_medium        0.014451
suspect.build_muscular      0.001781
suspect.build_thin          0.012286
suspect.build_unknown       0.002174
suspect.sex_female          0.002884
suspect.sex_male            0.003583
XGBoost Feature Importances:
                           Importance
month                       0.005540
day                         0.004868
time_period                 0.007718
precinct                    0.010957
additional_associating      0.006415
additional_direction        0.014924
additional_report           0.020112
additional_evasive          0.013245
additional_highcrime        0.014661
additional_investigation    0.007969
additional_proximity        0.011420
additional_time             0.007507
additional_sights           0.009339
additional_other            0.013800
stopped_bulge               0.230019
stopped_object              0.009745
stopped_casing              0.069973
stopped_clothing            0.032354
stopped_desc                0.009038
stopped_drugs               0.026013
stopped_furtive             0.022782
stopped_lookout             0.010035
stopped_violent             0.120387
stopped_other               0.024471
suspect_age                 0.008674
suspect_height              0.005057
suspect_weight              0.006748
inside                      0.018471
observation_period          0.013643
radio_run                   0.018693
location.housing_neither    0.020982
location.housing_transit    0.136283
suspect.build_medium        0.010233
suspect.build_muscular      0.008802
suspect.build_thin          0.005326
suspect.build_unknown       0.005905
suspect.sex_female          0.005246
suspect.sex_male            0.032644
Logistic Regression Accuracy: 0.9864503692021785